.sobre-web-design {
    justify-content: space-between;
    align-items: center;
    //article
    article {

        h1 {
            font-size: $font-h1;
            line-height: 90%;
            font-weight: 400;
            color: $color-secundaria;
        }

        h2, p {
            color: $color-primaria
        }

        h2 {
            font-size: $font-h2;
            text-transform: uppercase;
            letter-spacing: 2px;
            line-height: 200%;
        }

        p {
            width: 440px;
            text-align: justify;
            margin: 10px 0px 40px 0px;
        }
    }
    //End article
    figcaption {
        img {
            width: 700px;
        } 
    }
}